services:
  node:
    build:
      context: ..
      dockerfile: devcontainer/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ..:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev